---
import Main from '@layouts/MainLayout.astro';
const pathHome =  './';
const path1 = '/classes/financialAccounting/home';
const path2 = '/classes/managerialAccounting/home';
const path3 = '/classes/calc1/home';
const path4 = '/classes/calc2/home';
const path5 = '/classes/micro/home';
const path6 = '/classes/macro/home';
const path7 = '/classes/stats/home';
const path8 = '/classes/compsci/home';
const path9 = '/classes/mgmt/home';
const path10 = '/classes/stats4bizz/home';
const path11 = '/classes/supplyChain/home';
const path12= '/classes/writingForTheMedia/home';
const path13 = '/classes/latinoWorkers/home';

//newPath

const folderPath1 = "../../toolbox";
const folderPath2 = "../../rankings";
const folderPath3 = "../../ratings";

---

<!--newPath -->

<Main  folderPath1= {folderPath1} folderPath2 = {folderPath2} folderPath3 = {folderPath3}  pathHome = {pathHome} path1 = {path1} path2 = {path2} path3 = {path3} path4 = {path4} path5 = {path5} path6 = {path6} path7 = {path7} path8 = {path8} path9 = {path9} path10 = {path10} path11={path11} path12 = {path12} path13 = {path13}>

<h1 class = "title"> Free tools to help you study! </h1>

<br>

<ul>

    <li> <a href = "https://homeworkify.st/mirror-1/"> Homeworkify </a></li>
    <li> <a href = "https://www.perplexity.ai/"> Perplexity AI </a></li>
    <li> <a href = "https://claude.ai/chats"> Claude.ai </a></li>
    <li> <a href = "https://notebooklm.google/"> NotebookLM </a></li>
    <li> <a href = "https://pi.ai/onboarding"> Pi </a></li>
    <li> <a href = "https://aithor.com/"> Aithor </a></li>
    <li> <a href = "https://you.com/"> You.com </a></li>
    <li> <a href = "https://www.meta.ai/"> meta.ai </a></li>
    <li> <a href = "https://exa.ai/"> Exa.ai </a></li>
    <li> <a href = "https://komo.ai/"> KOMO.ai </a></li>
    <li> <a href = "https://yep.com/"> yep.com </a></li>
    <li> <a href = "https://www.phind.com/search?home=true"> phind.com </a></li>
    <li> <a href = "https://andisearch.com/"> Andi </a></li>
    <li> <a href = "https://www.questionai.com/"> QuestionAI </a></li>
    <li> <a href = "https://www.imagetotext.io"> Image to Text </a></li>
    <li> <a href = "https://chatbot.mindpal.space/653354159110b78947172569"> Research Paper Recommender</a></li>
    <li> <a href = "https://www.jdoodle.com/online-java-compiler/"> Online Java Compiler IDE</a></li>
    <li> <a href = "https://ebin.pub/qdownload/writing-and-reporting-for-the-media-12nbsped-0190649429-9780190649425.html"> Writing For the Media Textbook </a></li>
    <li> <a href = "https://www.acethinker.com/online-downloader-5#pills-home"> Download embedded videos from Canvas for free </a></li>
    <li> <a href = "https://riverside.fm/transcription">Riverside - Video to Transcript (You can out 1hr+ videos too)</a></li>

    
</ul>

<br/>

<h1 class = "title"> Creative Tools</h1>

<br/>

<ul>

    <li> <a href = "https://mubert.com/"> Mubert.com</a></li>
    <li> <a href = "https://www.artbreeder.com/create"> Artbreeder</a></li>
    <li> <a href = "https://playground.com/"> Playground</a></li>

</ul>
<br>

<h1 class = "title"> Useful Links for Rutgers Students </h1>

<br>

<ul>
<li> <a href = "https://secure.sas.rutgers.edu/apps/special_permission/cs/"> Request SPN for CS </a></li>
</ul>

</Main>

<style>
    .title{
        font-style: var(--primaryFont);
        font-weight: 400;
	    font-size:var(--text-heading);			
    }

    ul{
        margin:0px 20px;
    }

    li{
        margin-bottom:5px;
    }
    a{
        color:black;
    }
</style>